<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />

  <div class="form-group">
    <label class="control-label" class="mr-3">I am a: </label>
    <label class="radio-inline">
      <input type="radio" value="male" formControlName="gender" />Male
    </label>
    <label class="radio-inline">
      <input
        type="radio"
        value="female"
        formControlName="gender"
        class="ml-3"
      />Female
    </label>
  </div>

  <app-text-input
    label="Username"
    [formControl]="registerForm.get('username')"
  ></app-text-input>
  <app-text-input
    label="Known As"
    [formControl]="registerForm.get('knownAs')"
  ></app-text-input>
  <app-date-input
    label="Date Of Birth"
    [maxDate]="maxDate"
    [formControl]="registerForm.get('dateOfBirth')"
  ></app-date-input>
  <app-text-input
    label="City"
    [formControl]="registerForm.get('city')"
  ></app-text-input>
  <app-text-input
    label="Country"
    [formControl]="registerForm.get('country')"
  ></app-text-input>
  <app-text-input
    label="Password"
    type="password"
    [formControl]="registerForm.get('password')"
  ></app-text-input>
  <app-text-input
    label="Confirm Password"
    type="password"
    [formControl]="registerForm.get('confirmPassword')"
  ></app-text-input>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Value: {{ registerForm.status | json }}</p>
