<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />

  <app-text-input
    label="Username"
    [formControl]="registerForm.get('username')"
  ></app-text-input>
  <app-text-input
    label="Password"
    [formControl]="registerForm.get('password')"
  ></app-text-input>
  <app-text-input
    label="Confirm Password"
    [formControl]="registerForm.get('confirmPassword')"
  ></app-text-input>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Value: {{ registerForm.status | json }}</p>
